.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.row {
  margin-top: 20px;
}

.select {
  display: flex;
  justify-content: center;
}

.sub-select-one-six {
  width: 60%;
  margin-inline: auto;
  margin: 10px;
}

.sub-select-one-eight {
  width: 80%;
  margin-inline: auto;
  margin: 10px;
}

.sub-select-two {
  width: 50%;
  margin-right: 10px;
}

.sub-select-three {
  margin-right: 10px;
}

.subtitle {
  margin: 1px;
}

mat-card {
  margin: 0 0 20px 0;
  display: flex;

  mat-card-header {
    flex: 1 0 auto;
  }
}

form {
  margin: 20px 0;

  mat-form-field {
    width: 100%;
  }

  .div-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .btn-action {
    margin: 10px 20px;
  }
  #remove {
    display: flex;
    margin: 0px 0px 0 10px;
  }
}
