// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset';

@include mat.core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

@import 'styles-reset.scss-theme';
@import './app/app/app.component.scss-theme';
@import './app/shared/big-input/big-input/big-input.component.scss-theme';


@mixin custom-components-theme($theme) {
  @include sdt-styles-reset-theme($theme);
  @include sdt-app-component-theme($theme);
  @include sdt-big-input-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($sdt-theme);
  @include custom-components-theme($sdt-theme);
}

.light-theme {
  @include mat.all-component-themes($sdt-light-theme);
  @include custom-components-theme($sdt-light-theme);
}

.black-theme {
  @include mat.all-component-themes($sdt-black-theme);
  @include custom-components-theme($sdt-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($sdt-nature-theme);
  @include custom-components-theme($sdt-nature-theme);
}
